/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ---------- */
body{
    background-image: url(https://i.pinimg.com/originals/03/f1/dd/03f1dd0ac70cbb94211577d3dc854ccd.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    position: relative;
    height: 100vh;
}
.audiobtap{
    width: 16%;
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.row{
    width: 100%;
    box-shadow: 2px 2px 8px 2px rgba(63, 63, 63, 0.178);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#baitap2, #baitap4{
    display: flex;
}
#soHang1 , #soHang2 , #soHang3 , #soHang4 , #soHang5, #chieuDai , #chieuRong{
    width: 50%;
}
.tab-pane h4{
    margin-bottom: 16px;
}
.tab-pane i{
    color: royalblue;
    margin-right: 8px;
    animation: iconanimation 2s linear infinite;
}

.container .row .col-3{
    padding: 48px 16px;
    color: white;
    background-color: #0069D9;
    border-radius: 16px 0 0 16px;
}
.container .row .col-3 .nav-link{
    color: white;
    opacity: 0.8;
}
.container .row .col-9{
    padding: 32px 16px;
    background-color: white;
    border: 1px solid #007BFF;
    border-radius: 0 16px 16px 0;
    border-left: none;
}

.row .nav-pills .nav-link.active{
    background-color: white;
    color: black;
    opacity: 1;
}
@keyframes iconanimation {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}